jap_concept_recognizer/logic/jpn_indices.csv
jap_concept_recognizer/logic/outcards.csv
jap_concept_recognizer/logic/outcards_2.csv
jap_concept_recognizer/logic/outcards_3.csv
jap_concept_recognizer/logic/sents.txt
jap_concept_recognizer/logic/sents.csv
jap_concept_recognizer/logic/sentences.csv
jap_concept_recognizer/logic/sent_meanings.txt
jap_concept_recognizer/logic/id_reference.csv
