git+https://github.com/kirk3110/kuromojipy
romkan
django
djangorestframework
django-cors-headers
psycopg2-binary
dj-database-url
django-mptt
gunicorn
langdetect
djangorestframework_jwt
django-nose
coverage
pillow
requests
graphene_django
graphene
django-computedfields
